@import "./bulma.scss";

.card {
  background-color: #000;
  width: 340px;
}

.pic {
  img {
    border: 4px solid $green;
  }
}

.name {
  // $border-color: gray;
  h1 {
    color: $green;
    font-family: $family-header;
    // text-shadow: 1px 0 0 $border-color, -1px 0 0 $border-color, 0 1px 0 $border-color, 0 -1px 0 $border-color, 0.5px 0.5px $border-color, -0.5px -0.5px 0 $border-color, 0.5px -0.5px 0 $border-color, -0.5px 0.5px 0 $border-color;
  }
  p {
    color: #999;
  }
}

.summary {
  border-top: 1px solid $green;
  color: #999;
}

.contact {
  ul {
    list-style: none;
  }
  li {
    color: #999;
  }
  a:hover {
    text-decoration: underline;
  }
}
