@import "./bulma.scss";

.resume {
  margin: 40px 0 0 14px;

  h1 {
    font-family: $family-mono;
    font-size: 2rem;
    color: $green;
  }
  section h1 {
    font-size: 1rem;
    font-style: italic;
    color: black;
  }
}
